.messageBar
    position: sticky
    right: 50%
    transform: translateX(60%)
    bottom: 5%
    width: 30vw
    input
        font-size: 1.5rem
        width: 100%
        background-color: black
        border: 2px solid white
.button
    font-size: 1.5rem
.shift
    transform: translateX(75%)
